@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1670ae;
}

canvas {
  display: block;
  border-radius: 5px;
}

.soundButton,
.pauseButton,
.playButton,
.nextButton {
  background-color: #5e87d6;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  position: absolute;
  box-shadow: 0 5px #4300d1;
  font-family: 'Quicksand', sans-serif;
}

.soundButton {
  margin-top: -195px;
  margin-left: 330px;
}

.pauseButton {
  margin-top: -195px;
  margin-left: 230px;
}

.playButton {
  margin-top: 100px;
}

.nextButton {
  margin-left: 360px;
}

.soundButton:hover,
.pauseButton:hover {
  background-color: #4a78d1;
}

.soundButton:active,
.pauseButton:active {
  background-color: #4a78d1;
  box-shadow: 0 1px #4300d1;
  transform: translateY(4px);
}

.start {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

.introText {
  position: absolute;
  width: 400px;
  text-align: center;
  font-family: 'Bubblegum';
  font-size: 24px;
  color: white;
}

.crab {
  width: 80px;
  animation: moving 1s infinite;
}

@keyframes moving {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
