@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body {
  background-color: ghostwhite;
}

canvas {
  display: block;
  border-radius: 5px;
  max-width: 1500px !important;
  width: 100%;
}

.buttons {
  left: auto !important;
  top: auto !important;
  max-width: 1500px;
  width: 99%;
  height: 95%;
}

.soundButton,
.pauseButton,
.playButton,
.playAgainButton,
.nextButton,
.infoButton {
  background-color: #5e87d6;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  position: absolute;
  margin: 0 auto;
  box-shadow: 0 5px #4300d1;
  font-family: 'Quicksand', sans-serif;
}

.infoButton {
  top: 0;
  right: 20px;
  z-index: 101;
}

.soundButton {
  top: 0;
  right: 70px;
  z-index: 100;
}

/* .soundButton {
  margin-top: calc(-30% + 30px);
  margin-left: calc(50% - 95px);
} */

.pauseButton {
  top: 0;
  right: 200px;
  z-index: 100;
}

.playAgainButton {
  margin: 70px auto;
  font-size: 20px;
}

.playButton {
  margin-top: 100px;
}

.nextButton {
  right: 20px;
  top: 50%;
  z-index: 100;
  border-radius: 50%;
  /*
  margin-left: 45vw; 
  margin-left: calc(50% - 60px); 
  */
}

.soundButton:hover,
.pauseButton:hover,
.playAgainButton:hover,
.nextButton:hover,
.infoButton:hover,
.playButton:hover {
  background-color: #4a78d1;
  box-shadow: 0 4px #4300d1;
  transform: translateY(1px);
}

.soundButton:active,
.pauseButton:active,
.playAgainButton:active,
.nextButton:active,
.infoButton:active,
.playButton:active {
  background-color: #4a78d1;
  box-shadow: 0 1px #4300d1;
  transform: translateY(4px);
}

.start {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

.introduction {
  position: absolute;
  width: 60%;
  text-align: center;
  font-family: 'Bubblegum';
  font-size: 24px;
  color: white;
}

.crab {
  width: 80px;
  animation: moving 1s infinite alternate;
}

.gameOverText {
  color: red !important;
}

@keyframes moving {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@media screen and (max-width: 850px) {
  .soundButton,
  .pauseButton,
  .playButton,
  .playAgainButton,
  .nextButton,
  .infoButton {
    font-size: 14px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 414px) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
  }
}

.info {
  width: 100vw;
  height: 100vh;
  background-color: rgba(67, 0, 209, 0.5);
  position: absolute;
  margin: -100vh 0 0 0;
  transition: margin 0.8s ease-in-out;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info.--active {
  margin: 0;
}

.info__layer {
  width: 45%;
  height: 80%;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info ul {
  list-style: circle outside url('./src/assets/fishy.svg');
  padding: 0;
}

.info li {
  font-family: 'Quicksand';
  font-size: 20px;
  color: white;
  margin: 12px 0;
}

.indented {
  margin-left: 20px;
}
